<!DOCTYPE html>
<html>

<head>
    <title>Dhivya's Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bevan|Merriweather+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ruda" rel="stylesheet">
    <script src="../js/script.js"></script>
    <style>
       
        

        #first_blog_container {
            background: url("../images/switzerland-zermatt-mountains-snow.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 100%;
            height: 700px;
            padding: 30px;
            -webkit-filter: grayscale(70%);
            /* Safari 6.0 - 9.0 */
            filter: grayscale(70%);
            opacity: 0.1%;
        }

        .navbar_blog {
            margin-left: -44px;
            margin-right: -44px;
            margin-top: -30px;
        }
    </style>

</head>

<body>


    <div id="first_blog_container">
        <div class="container-fluid">
            <nav class="navbar navbar-inverse navbar_blog " id="myHeader">
                <div class="container-fluid blog_header">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
                        <a class="navbar-brand" href="#">WebSiteName</a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="index.html" class="sub_links">Home</a></li>
                            
                            <li><a href="blog.html" class="sub_links">Blogs</a></li>
                            <li><a href="products.html" class="sub_links">Products</a></li>
                            <li><a href="career.html" class="sub_links">Join Us</a></li>


                            <li><a href="#" class="sub_links" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="#" class="sub_links" data-toggle="modal" data-target="#myModallogin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                            <li><a href="#" class="sub_links"><span class="glyphicon glyphicon-heart"></span> </a></li>

                    </div>
                </div>
            </nav>


        </div>
        <br>
        <br>
        <div class="product_text">
            <center>
                <p class="product_first_text"> Products we Offer</p>
                <p class="product_second_text">Creative, Effective and Proactive</p>
            </center>
        </div>


    </div>


    <div class="container-fluid content">

        <div class="fourth_text">
            <center>
                <div class="fourth_heading"></div>
                <br>
                <br><br>
                <div class="fourth_desc">
                    <p>

                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                </div>
            </center><br><br><br><br>

        </div>
        <div class="row">
            <div class="grid">
                <div class="col-md-4">
                    <figure class="effect-duke">
                        <img src="../images/h1.jpg" alt="img27" />
                        <figcaption>
                            <!-- <h2>Messy <span>Duke</span></h2> -->
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="effect-duke">
                        <img src="../images/h2.jpg" alt="img17" />
                        <figcaption>
                            <!-- <h2>Messy <span>Duke</span></h2> -->
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure class="effect-duke">
                        <img src="../images/h3.png" alt="img27" />
                        <figcaption>
                            <!-- <h2>Messy <span>Duke</span></h2> -->
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="grid">
                <div class="col-md-4">
                    <figure class="effect-duke">
                        <img src="../images/h4.jpeg" alt="img27" />
                        <figcaption>
                            <!-- <h2>Messy <span>Duke</span></h2> -->
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="effect-duke">
                        <img src="../images/h5.jpeg" alt="img17" />
                        <figcaption>
                            <!-- <h2>Messy <span>Duke</span></h2> -->
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-4">
                    <figure class="effect-duke">
                        <img src="../images/h6.jpeg" alt="img27" />
                        <figcaption>
                            <!-- <h2>Messy <span>Duke</span></h2> -->
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>

    </div>


    <!--fourth part end-->
    <!--fifth part start-->

    <div class="container-fluid fifth_part">
        <div class="pricing_heading">
            <center>
                <h1 style="color:  #6dc234;"> Our Pricing!! Our Numbers!!</h1>
            </center>
        </div>
        <div class="row price_row">
            <div class="col-md-4 price-col">
                <div class="price_table">
                    <h4> Starter</h4>
                    <div class="pricing_subtext1">
                        <h6>BILLED ANNUALLY OR $12 MONTH-TO-MONTH</h6>
                    </div>
                    <div class="pricing_subtext2">
                        <h1>$10</h1>
                    </div>
                    <div class="pricing_subtext3">
                        <h6>PER MONTH</div>
                    <div class="pricing_line">
                        <hr>
                    </div>
                    <div class="pricing_subtext4">Up to 7 pages</div>
                    <div class="pricing_subtext5">Ecommerce</div>
                    <div class="pricing_subtext6"><button class="btn btn-default price_btn">Order Now</button></div>


                </div>
            </div>
            <div class="col-md-4 price-col">
                <div class="price_table">
                    <h4> Personal</h4>
                    <div class="pricing_subtext1">
                        <h6>BILLED ANNUALLY OR $35 MONTH-TO-MONTH</h6>
                    </div>
                    <div class="pricing_subtext2">
                        <h1>$30</h1>
                    </div>
                    <div class="pricing_subtext3">
                        <h6>PER MONTH</div>
                    <div class="pricing_line">
                        <hr>
                    </div>
                    <div class="pricing_subtext4">Up to 14 pages</div>
                    <div class="pricing_subtext5">Ecommerce</div>
                    <div class="pricing_subtext6"><button class="btn btn-default price_btn">Order Now</button></div>


                </div>
            </div>
            <div class="col-md-4 price-col">
                <div class="price_table">
                    <h4> Ultimate</h4>
                    <div class="pricing_subtext1">
                        <h6>BILLED ANNUALLY OR $55 MONTH-TO-MONTH</h6>
                    </div>
                    <div class="pricing_subtext2">
                        <h1>$50</h1>
                    </div>
                    <div class="pricing_subtext3">
                        <h6>PER MONTH</h6>
                    </div>
                    <div class="pricing_line">
                        <hr>
                    </div>
                    <div class="pricing_subtext4">Up to 25 pages</div>
                    <div class="pricing_subtext5">Ecommerce</div>
                    <div class="pricing_subtext6"><button class="btn btn-default price_btn">Order Now</button></div>


                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
                </div>
                <div class="modal-body">


                    <!-- use method="post" to send your form to server -->

                    <form class="form-horizontal myForm" method="post">


                        <div class="form-group">
                            <label for="fullname" class=" control-label">Name</label>
                            <div>
                                <input type="text" id="fullname" name="fullname" class="form-control" required/>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="email" class=" control-label">Email</label>
                            <div>
                                <input type="email" id="email_Signup" name="email_Signup" class="form-control" required/>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="address" class=" control-label">Address</label>
                            <div>
                                <input type="text" id="address" name="address" class="form-control" required/>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="phone_number" class=" control-label">Phone Number</label>
                            <div>
                                <input type="text" id="phone_number" name="phone_number" class="form-control" required/>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="zipcode" class=" control-label">Zipcode</label>
                            <div>
                                <input type="text" id="zipcode" name="zipcode" class="form-control" required/>
                            </div>

                        </div>


                        <div class="form-group">
                            <label for="password" class=" control-label">Password</label>
                            <div>
                                <input type="password" id="password" name="password" class="form-control" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="comments" class="control-label">Comments</label>
                            <div>
                                <textarea name="comments" id="comments" class="form-control" rows="5" cols="40" required></textarea>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="modal-footer">
                                <!-- <div> -->
                                <!-- <input type="submit" class="btn btn-primary" value="Submit"> -->
                                <!-- </div> -->
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="myModallogin" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Login</h4>
                </div>
                <div class="modal-body">


                    <!-- use method="post" to send your form to server -->

                    <form class="form-horizontal myLoginForm" method="post">



                        <div class="form-group">
                            <label for="email_Login" class=" control-label">Email</label>
                            <div>
                                <input type="email" id="email_Login" name="email_Login" class="form-control" required/>
                            </div>

                        </div>



                        <div class="form-group">
                            <label for="password_login" class=" control-label">Password</label>
                            <div>
                                <input type="password" id="password_login" name="password_login" class="form-control" required/>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Remember me</label>
                        </div> <br>
                        <a href="#">Forgot password?</a>
                        <br><br>





                        <div class="form-group">

                            <div class="modal-footer">
                                <!-- <div> -->
                                <!-- <input type="submit" class="btn btn-primary" value="Submit"> -->
                                <!-- </div> -->

                                <button type="submit" class="btn btn-primary">Sign In</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!--Footer-->
    <footer class="page-footer font-small blue pt-4 mt-4">

        <!--Footer Links-->
        <div class="container-fluid text-center text-md-left link_part">
            <div class="row">

                <!--First column--><br>
                <div class="col-md-6 first_part_footer">

                    <h4>Company Name</h4>
                    <p style="text-align:left;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <!--/.First column-->

                <!--Second column-->
                <div class="col-md-3 second_part_footer ">
                    <h5 class="text-uppercase">Other Links</h5>
                    <br>
                    <ul class="list-unstyled">
                        <li>
                            <a class="footer_col" href="#!">About Us</a>
                        </li>
                        <li>
                            <a class="footer_col" href="#!">Location</a>
                        </li>
                        <li>
                            <a class="footer_col" href="#!">Career</a>
                        </li>
                        <li>
                            <a class="footer_col" href="#!">Affiliates</a>
                        </li>
                    </ul>
                </div>
                <!--/.Second column-->

                <div class="col-md-3 third_footer_part">
                    <h5 class="text-uppercase">Contact Us</h5>
                    <br>
                    <ul class="list-unstyled">
                        <li>
                            <a class="footer_col" href="#!"><span class="glyphicon glyphicon-home"></span> Grafton, MA 01536, US</a>
                        </li>
                        <li>
                            <a class="footer_col" href="#!"><span class="glyphicon glyphicon-envelope"></span> dhivya@gmail.com</a>
                        </li>
                        <li>
                            <a class="footer_col" href="#!"><span class="glyphicon glyphicon-phone"></span> +1 1234567891</a>
                        </li>
                        <li>
                            <a class="footer_col" href="#!"><span class="glyphicons glyphicon-print"></span> +1 7896541230</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.Footer Links-->

        <div class="row social_icon">
            <div class="col-md-12">
                <center>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-google"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-youtube"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-pinterest"></a>
                </center>

            </div>
        </div>

        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            © 2018 Copyright: All rights Reserved
        </div>
        <!--/.Copyright-->

    </footer>

    <script>
    </script>
</body>

</html>